<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <title>No Reply</title>
</head>
<body>
<h1>Selamat datang di Portal Berita UIP Sulbagsel, <%= @user.email %></h1>
<p>
  Anda dapat mengakses portal melalui tautan berikut: <%= @url %>.
</p>
<p>Keluhan dapat diajukan melalui email ini</p>