<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div class="alert alert-danger mt-0">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="custom-file">
    <%= form.label :cover, class: 'custom-file-label' %>
    <%= form.file_field :cover, class: 'custom-file-input' %>
  </div>
  <div id="target"></div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<script type="text/javascript">
    $(function () {
        $('#article_cover').on('change', function (event) {
            var files = event.target.files;
            var image = files[0]
            var reader = new FileReader();
            reader.onload = function (file) {
                var img = new Image();
                console.log(file);
                img.src = file.target.result;
                img.width = 255
                img.height = 178
                $('#target').html(img);
            }
            reader.readAsDataURL(image);
            console.log(files);
        });
    });
</script>
