<h1>Berita</h1>
<% @articles.each do |article| %>
  <div class="row mb-3">
    <div class="col-sm-4">
      <%= image_tag article.cover, class: 'img-fluid w-100' %>
    </div>
    <div class="d-flex align-items-end flex-column col-lg-8">
      <div class="">
        <h5 class="mb-1">
          <%= link_to article.title, article %>
        </h5>
        <h6 class="font-weight-light mb-1">
          <%= article.created_at.strftime("Diterbitkan %d/%b/%Y") %>
        </h6>
        <p class="text-justify d-none d-md-block mb-1">
          <%= article.content.truncate(150) %>
        </p>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @articles %>
<br>