<%# if @article.cover.attached? %>
<h1><%= @article.title %></h1>
<%= image_tag @article.cover.variant(resize: "1112x518"), class: 'img-fluid rounded mx-auto d-block' %>
<%# end %>

<div class="text-justify">
  <%= simple_format @article.content %>
</div>