<p class="text-justify">
  PT PLN (Persero) Unit Pembangunan Sulawesi Bagian Selatan merupakan salah satu unit bisnis PT PLN (Persero) yang
  memiliki tugas untuk melakukan perencanaan, pengorganisasian, pengelolaan, dan pengawasan kegiatan Pembangunan
  Pembangkit dan Jaringan Ketenagalistrikan
  di wilayah Sulawesi Bagian Selatan (Provinsi Sulawesi Selatan, Sulawesi Tenggara, dan Sulawesi Barat). <br/>Unit
  Pelaksana Proyek Pembangkit dan Jaringan Sulawesi Selatan (UPP Kitring Sulsel) sebagai salah satu unit organisasi satu
  tingkat di bawah
  Unit Induk PT. PLN (Persero) UIP Sulbagsel merupakan unit pelaksana yang dibentuk untuk memonitor kegiatan pekerjaan
  konstruksi dalam rangka peningkatan kinerja pelaksanaan pembangunan pembangkit dan jaringan.<br/>
</p>