<h1>Berita Terbaru</h1>
<div class="row">
  <% @articles.each.with_index do |article, index| %>
    <% if index.zero? %>
      <div class="col-sm-8">
        <div class="row-cols-1 m-0 w-100">
          <%= image_tag article.cover, class: 'rounded w-100' %>
          <p>
            <%= link_to article.title, article %>
          </p>
          <p class="text-justify d-none d-md-block">
            <%= article.content.truncate(300) %>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
    <% else %>
      <div class="row-cols-1 m-0">
        <%= image_tag article.cover, class: 'rounded w-100' %>
        <p>
          <%= link_to article.title, article %>
        </p>
        <p class="text-justify d-none d-md-block">
          <%= article.content.truncate(150) %>
        </p>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
<div class="row">
  <%= link_to "BACA LEBIH LANJUT", articles_url, class: 'btn btn-link btn-block more-button', role: 'button' %>
</div>