/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */


$enable-responsive-font-sizes: true;
$theme-colors: ("primary": #00939c);
@import "bootstrap/scss/bootstrap";
//@import "*";
//@import "**/*";

#headline {
  .carousel-item {
    max-height: 409px;
  }

  .jumbotron {
    max-height: 80%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

#tentang {
  height: 240px;
  background: linear-gradient(black, rgb(0, 147, 156) 0%, white 93%), #ffffff;

  .jumbotron {
    background: transparent;

    h1 {
      color: white;
      font-size: 4rem;
    }
  }
}

.navbar-brand {
  background-image: image_url("pln-uip.png");
  width: 140px;
  height: 40px;
}

.dropdown-menu {
  min-width: 250px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.row .col-sm-4 {
  img {
    max-height: 175px;
  }
}

//Footer

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.loc {
  display: block;
  text-align: center;
}

.telp {
  display: block;
  text-align: center;
}

.mail {
  display: block;
  text-align: center;
}

.comp {
  display: block;
  text-align: center;
}

.copyright {
  background-image: image_url("pln-uip.png");
  width: 140px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

