<% if action_name == 'index' %>
  <div id="headline" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#headline" data-slide-to="0"></li>
      <li data-target="#headline" data-slide-to="1"></li>
      <li data-target="#headline" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% @headlines.each.with_index do |article, index| %>
        <div class="carousel-item <%= index.zero? ? 'active' : '' %>" data-interval="5000">
          <%= image_tag article.cover, class: 'img-fluid d-block w-100' %>
          <div class="jumbotron carousel-caption">
            <div class="d-none d-sm-block">
              <h1><%= article.title %></h1>
            </div>
            <div class="d-none d-md-block">
              <p><%= article.content.truncate(150) %></p>
            </div>
            <%= button_to 'Selengkapnya', article, method: :get, class: 'btn btn-primary' %>
            <!--          <p></p>-->
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#headline" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#headline" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% elsif current_page? about_path %>
  <div id=tentang>
    <div class="jumbotron">
      <h1 class="text-center">Tentang Kami</h1>
    </div>
  </div>
<% end %>