<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br/>
    <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br/>
    <div class="input-group" id="show_hide_password">
      <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
      <div class="input-group-append">
        <a href="" class="input-group-text text-decoration-none">
          <i class="fa fa-eye-slash" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group form-check">
      <%= f.check_box :remember_me, {class: 'form-check-input'} %>
      <%= f.label :remember_me, {class: 'form-check-label'} %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", {class: 'btn btn-primary'} %>
  </div>
<% end %>

<%= render "users/shared/links" %>