<!DOCTYPE html>
<html lang="id">
<head>
  <title>Portal Berita PLN UPP Kitring</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag asset_path('pln.ico') %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<header>
  <nav class="navbar navbar-dark bg-primary navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" href="<%= url_for root_path %>"></a>
      <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav mx-auto justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="<%= url_for about_path %>">TENTANG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://portal.pln.co.id/">PLN</a></li>
          <li class="nav-item"></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-search"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right p-3">
              <%= form_with(model: Article, method: 'get', local: true) do %>
                <div class="form-group">
                  <%#= label_tag :search, "Cari" %>
                  <%= text_field_tag :search, nil, class: 'form-control' %>
                </div>
                <%= submit_tag "Cari", class: 'btn btn-primary btn-block' %>
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right p-3">
              <% if user_signed_in? %>
                <%= current_user.email %>
                <% if can? :read, :dashboard %>
                  <%= link_to 'Dashboard', rails_admin_path, class: 'dropdown-item' %>
                <% end %>

                <%= link_to('Edit Account', edit_user_registration_path, class: 'dropdown-item') %>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'dropdown-item') %>

              <% else %>
                <%= render 'layouts/new_session' %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<% if action_name == 'index' or action_name == 'about' %>
  <%= render "layouts/headlines" %>
<% end %>
<% unless flash.empty? %>
  <!--  <div style="position: absolute; top: 10%; right: 1rem;">-->
  <div class="d-flex justify-content-center">
    <% flash.each do |type, message| %>
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
        <div class="toast-body <%= type == 'alert' ? 'alert-danger' : 'alert-primary' %>">
          <div class="font-weight-bolder"><%= message %></div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<script type="text/javascript">
    $('.toast').toast('show')
</script>
<main class="container">
  <%= yield %>
</main>
<footer>
  <div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12 item">
            <h3 class="text-center">CONTACT</h3>
            <ul>
              <li>
                <a class="loc" href="https://goo.gl/maps/ihGNyikv5RHgqVhZ7"><i class="fa fa-location-arrow"></i></a>
              </li>
              <li><a class="telp" href="tel:123"><i class="fa fa-phone"></i></a></li>
              <li>
                <a class="mail" href="mailto:pln123@pln.co.id?subject=PLN%20UIP%20Sulbagsel"><i class="fa fa-envelope"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <p class="copyright"></p>
      </div>
    </footer>
  </div>
</footer>
<script type="text/javascript">
    $(document).ready(function () {
        let listener_tag = $("#show_hide_password a");
        let input_tag = $("#show_hide_password input");
        let icon_tag;
        icon_tag = $("#show_hide_password i");
        listener_tag.on('click', function (event) {
                event.preventDefault();
                if (input_tag.attr("type") === "password") {
                    input_tag.attr("type", "text");
                    icon_tag.removeClass("fa-eye-slash");
                    icon_tag.addClass("fa-eye");
                } else if (input_tag.attr("type") === "text") {
                    input_tag.attr("type", "password");
                    icon_tag.removeClass("fa-eye");
                    icon_tag.addClass("fa-eye-slash");
                }
            }
        );
    });
</script>
</body>
</html>
